body, html {
    height: 100%;
    margin: 0px;
}
body,a {
    color: #6d84b6;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #6d84b6;
}

a:hover{
    background-color: rgba(255, 255, 240, 0.397);
}

h3,h6{
    font-weight: normal;
}

.pozadina {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#b4c8dd,#d6dfeb);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

* {
    box-sizing: border-box;
}

div.okvir {
    margin: auto;
    width: 40%;
    height: 40%;
    position: relative;
    top: 20%;
}

fieldset{
    border-radius: 25px;
    display: inline-block;
    border-color:#6d84b6;
    text-align: center;
    width: 32%;
    position: absolute;
    bottom: 0px;
    min-width: 150px;
    min-height: 170px;
}

.srednji {
    height: 80%;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 0px;
    top: 0; left: 0; bottom: 0; right: 0;
}

.desno,.lijevo {
    height: 60%;
}

.desno {
    right: 0px;
}

.lijevo {
    left: 0px;
}

legend{
    margin: auto;
    font-size: small;
}

ul{
    margin: auto;
    padding-top: 10px;
}

li {
    margin: auto;
    display: inline-block;
    padding: 5px;
}

@media only screen and (max-width:600px) {
    .lijevo{
        display: none;
    }

    fieldset {
        display: block;
        position: static;
        width: 50%;
    }

    div.okvir {
        top: 2%;
        width: 100%;
        height: 50%;
    }

    .srednji,.desno {
        position: static;
        margin: auto;
        margin-top: 2%;
    }

    .srednji {
        height: 90%;
    }
}
