div {
    display: block;
    text-align: center;
   margin-top: 10%;
}
label {
    display: inline-block;
    width: 130px;
    padding: 5px;
}
input,select {
    padding: 5px;
    margin: 5px;
    width: 130px;
}
form
{
    display: inline-block;
    margin: auto;
    text-align: left;
}

ul{
    margin-top: 0px;
    margin: auto;
}


*{
    font-family: sans-serif;
}

/*izgled menija*/
ul{
    margin-top: 0px;
    margin: auto;
}

li {
    margin: auto;
    display: inline-block;
    padding: 5px;
}
a {
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgba(255, 255, 240, 0.397);
    color: #dee6ef;
}

@media only screen and (max-width:600px)
{
    label {
        width: 100%;
    }
    input,select {
       margin-bottom: 10%;
    }
}