table,td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: auto;
    margin-top: 10%;
}

tr:hover{
    border: 2px solid black;
}

*{
    font-family: sans-serif;
}

/*izgled menija*/
ul{
    margin-top: 0px;
    margin: auto;
}

li {
    margin: auto;
    display: inline-block;
    padding: 5px;
}
a {
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgba(255, 255, 240, 0.397);
    color: #dee6ef;
}

