*{
    font-family: sans-serif;
}

table { 
    empty-cells: show;
    border-collapse: collapse;
    text-align: center;
    border: 1px;
    margin: auto;
    margin-top: 5%;
 }

tr {
    height: 60px;
}

h4,h5 {
    margin: 0px;
    padding: 0px;
    padding-top: 2px;
    font-weight: normal;
}

tr.prvi td {
    vertical-align: bottom;
    border: none;
    border-right: none;
    background-color: white;
    font-size: small;
}

tr.prvi td:empty{
    border: none;
}

td {
    background-color:	#dee6ef;
    border: 1px solid;
    width: 20px;
    vertical-align: top;
}
td:empty {
    background-color: #e6e6e6;
}

td.pola {
    border-right: dashed 2px;
}

td.lijevo {
    text-align: right;
    background-color: white;
    vertical-align: middle;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
}
/*izgled menija*/
ul{
    margin-top: 0px;
    margin: auto;
}

li {
    margin: auto;
    display: inline-block;
    padding: 5px;
}
a {
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgba(255, 255, 240, 0.397);
    color: #dee6ef;
}

@media only screen and (max-width:600px) {
    tr.prvi {
        display: none;
    }
    td:empty {
        display: none;
    }
    td {
        display: block;
        width: 100%;
    }
    td.lijevo {
        text-align: left;
        padding: 10px;
    }
}
